body {
  margin: 0;
  background-color: #fff;
}

.menu {
  display: flex;
  top: 0;
  position: sticky;
  flex-direction: row;
  background-color: #95bcf7;
  justify-content: space-evenly;
  padding: 10px;
  z-index: 1;
}

.menu a {
  cursor: pointer;
  width: 180px;
  text-decoration: none;
  color: black;
  border-radius: 0.7vw;
  text-align: center;
  line-height: 3vw;
  font-size: 1.2vw;
  font-family: "Noto Sans TC";
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15vw;
  border: none;
}

.menu a:hover {
  background-color: #bed5f8;
  animation: fade 0.3s;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#topblock {
  width: 100%;
  height: 15vw;
  background-color: #507ab9;
  color: rgb(247, 246, 246);
  font-family: "Noto Sans TC";
  font-size: 4vw;
  font-weight: 600;
  position: relative;
  text-align: center;

  display: flex;
  justify-content: center; 
  align-items: center; 
}

#text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1.5vw;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2vw;
}

#memberheading {
  font-family: "Libre Baskerville";
  text-align: center;
  font-style: italic;
  font-size: 2vw;
  margin-top: 4vw;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  text-align: center; 
  margin-bottom: 5vw;
}

.memberlist {
  margin-top: 3vw;
}

.image {
  width: 17vw;
  height: 17vw;
  object-fit: contain;
  border-radius: 0.5vw;
}

hr {
  border: 0.1vw solid #507ab9;
  width: 18vw;
}

.row:nth-child(even) {
  gap: 2.5vw; 
}

#nametext {
  font-family: "Noto Sans TC";
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 800;
  letter-spacing: 0.2vw;
  text-align: center;
}

#ptext {
  font-family: "Inter";
  font-size: 1.1vw;
  margin-top: 0.8vw;
}